@import "../../vars.css";

.container {
    text-align: center;
    margin: 0;
    padding: 8.5rem 0 13rem 0;
    z-index: 3;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    margin: 0;
    padding: 0 0 3rem 0;

}

.title h1 {
    font-size: var(--title-text-size);

    background: linear-gradient(90deg, var(--color-accent-medium-3), var(--color-accent-medium) 50%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal
}

.subTitle {
    font-size: var(--sub-text-size);
}