@import "../../vars.css";

.navBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
}

.menuItems{
  display: flex;
  list-style-type: none;
  gap: 10rem;
}