:root {
    --color-bg: blanchedalmond;
    --color-text-primary: black;
    --color-text-secondary: black;
    
    --primary-color: rgb(171, 171, 255);
    --secondary-color: light rgb(113, 113, 113);

    /* fonts */
    --font-family: 'Roboto', sans-serif;
}